body {
    background-color: #edebd8;
}

h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 8rem;
    margin-bottom: 0;
    background-color: #cfcbb8;
    line-height: 0.85;
    padding-top: 12px;
}

.tagline {
    background-color: #cfcbb8;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 0;
    line-height: 1.5;
}

.blurb h2 {
    font-family: Belleza, sans-serif;
    font-size: 2.5rem;
}

.blurb h3 {
    font-family: Belleza, sans-serif;
    font-size: 1.35rem;
    line-height: 2;
}

.blurb p {
    font-family: Belleza, sans-serif;
    font-size: 1.25rem;
    line-height: 2;
}